<div class="col-md-6 col-md-offset-3">
	<div class="center">
		<h1>Edit Yo Pin</h1>
	</div>

	<div class="panel-body">
		<%= render 'form' %>
	</div>

	<div>
		<p>
			<%= link_to 'Show', @pin, class: "btn btn-default" %>
			<%= link_to 'Back', pins_path, class: "btn btn-default" %>
		</p>
	</div>
</div>
