<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box">
      <%= link_to image_tag(pin.image.url(:small)), pin %>
      <%= pin.description %></br>
      <%= pin.user.email %></br>
    </div>
  <% end %>   
</div>